# Project - Data Cleaning

## Introduction
In this lab, we'll make use of everything we've learned about pandas, data cleaning, and Exploratory Data Analysis. In order to complete this lab, you'll have to make import, clean, combine, reshape, and visualize data to answer questions provided, as well as your own questions!

## Objectives
You will be able to:
* Show mastery of the content covered in this section

## The Dataset
In this lab, we'll work with the comprehensive [Super Heroes Dataset](https://www.kaggle.com/claudiodavi/superhero-set/data), which can be found on Kaggle!

## Goals
* Use all available pandas knowledge to clean the dataset and deal with null values
* Use Queries and aggregations to group the data into interesting subsets as needed
* Use descriptive statistics and data visualization to find answers to questions we may have about the data. 

## Getting Started

In the cell below:

* Import and alias pandas as `pd`
* Import and alias numpy as `np`
* Import and alias seaborn as `sns`
* Import and alias matplotlib.pyplot as `plt`
* Set matplotlib visualizations to display inline in the notebook

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

For this lab, our dataset is split among two different sources--`heroes_information.csv` and `super_hero_powers.csv`.

Use pandas to read in each file and store them in DataFrames in the appropriate variables below. Then, display the head of each to ensure that everything loaded correctly.

In [2]:
heroes = pd.read_csv('heroes_information.csv')
powers = pd.read_csv('super_hero_powers.csv')

It looks as if the heroes information dataset contained an index column.  We did not specify that this dataset contained an index column, because we hadn't seen it yet. Pandas does not know how to tell apart an index column from any other data, so it stored it with the column name `Unnamed: 0`.  

Our DataFrame provided row indices by default, so this column is not needed.  Drop it from the DataFrame in place in the cell below, and then display the head of `heroes_df` to ensure that it worked properly.

In [3]:
heroes.head()
heroes = heroes.drop('Unnamed: 0',axis=1)

In [4]:
heroes.head()

,name,Gender,Eye color,Race,Hair color,Height,Publisher,Skin color,Alignment,Weight
0,A-Bomb,Male,yellow,Human,No Hair,203.0,Marvel Comics,-,good,441.0
1,Abe Sapien,Male,blue,Icthyo Sapien,No Hair,191.0,Dark Horse Comics,blue,good,65.0
2,Abin Sur,Male,blue,Ungaran,No Hair,185.0,DC Comics,red,good,90.0
3,Abomination,Male,green,Human / Radiation,No Hair,203.0,Marvel Comics,-,bad,441.0
4,Abraxas,Male,blue,Cosmic Entity,Black,-99.0,Marvel Comics,-,bad,-99.0

## Familiarize Yourself With the Dataset

The first step in our Exploratory Data Analysis will be to get familiar with the data.  This step includes:

* Understanding the dimensionality of your dataset
* Investigating what type of data it contains, and the data types used to store it
* Discovering how missing values are encoded, and how many there are
* Getting a feel for what information it does and doesnt contain

In the cell below, get the descriptive statistics of each DataFrame.

In [ ]:
powers.describe()
heroes.describe()

## Dealing with Null Values

Starting in the cell below, detect and deal with any null values in either data frame.  Then, explain your methodology for detecting and dealing with outliers in the markdown section below.  Be sure to explain your strategy for dealing with null values in numeric columns, as well as your strategy for dealing with null values in non-numeric columns.  

Note that if you need to add more cells to write code in, you can do this by:

**1.** Highlighting a cell and then pressing `ESC` to enter command mode.  
**2.** Press `A` to add a cell above the highlighted cell, or `B` to add a cell below the highlighted cell. 

Describe your strategy below this line:
____________________________________________________________________________________________________________________________

In [5]:
max(list(powers.isna().sum())) #the dataset 'powers' has no NaNs

0

In [6]:
heroes.isna().sum() # the dataset 'heroes has NaNs in colums 'Publisher'(15) and 'Weight'(2). These numbers are very small,
# so I will drop these rows from the data set. -> heroes = heroes.dropna()
# Now we have no missing values in the dataset
heroes = heroes.dropna()

In [7]:
# numerical outliers/placeholder values detected in columns 'Weight' ('-99', 237x) and 'Height'('-99', 217x).
# these likely indicate unknown value or N/A
heroes['Weight'].value_counts()

-99.0     225
 79.0      23
 54.0      23
 81.0      22
 90.0      19
 52.0      15
 86.0      15
 59.0      14
 56.0      13
 77.0      13
 61.0      13
 101.0     12
 50.0      12
 88.0      11
 63.0      11
 95.0      10
 74.0      10
 83.0       9
 65.0       9
 72.0       8
 68.0       8
 104.0      8
 135.0      8
 57.0       7
 97.0       7
 99.0       7
 117.0      6
 108.0      6
 55.0       5
 70.0       5
         ...
 14.0       1
 356.0      1
 105.0      1
 324.0      1
 360.0      1
 236.0      1
 36.0       1
 140.0      1
 128.0      1
 248.0      1
 16.0       1
 45.0       1
 234.0      1
 96.0       1
 82.0       1
 76.0       1
 198.0      1
 116.0      1
 176.0      1
 170.0      1
 47.0       1
 78.0       1
 27.0       1
 25.0       1
 178.0      1
 132.0      1
 38.0       1
 412.0      1
 320.0      1
 855.0      1
Name: Weight, Length: 135, dtype: int64

## Joining, Grouping, and Aggregating

In the cell below, join the two DataFrames.  Think about which sort of join you should use, as well as which columns you should join on.  Rename columns and manipulate as needed.  

**_HINT:_** If the join throws an error message, consider settin the the column you want to join on as the index for each DataFrame.

In [ ]:
#I will use the 'name' columns as the index for both data sets. I will rename the correspinding colunm in 'powers'
# Now the column has the same name in each dataset
# powers = powers.rename(columns={'hero_names':'name'})
# I will set these columns as indices
# powers.set_index('name')
# heroes.set_index('name')
# then I will perform an inner join (keeping records with matching keys, as I want to keep heroes with complete information)
# compl_heroes = heroes.join(powers,how='inner')

In [8]:
powers = powers.rename(columns={'hero_names':'name'})

In [9]:
heroes = heroes.set_index('name')

In [10]:
powers.head()

,name,Agility,Accelerated Healing,Lantern Power Ring,Dimensional Awareness,Cold Resistance,Durability,Stealth,Energy Absorption,Flight,...,Web Creation,Reality Warping,Odin Force,Symbiote Costume,Speed Force,Phoenix Force,Molecular Dissipation,Vision - Cryo,Omnipresent,Omniscient
0,3-D Man,True,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,A-Bomb,False,True,False,False,False,True,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,Abe Sapien,True,True,False,False,True,True,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,Abin Sur,False,False,True,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,Abomination,False,True,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [11]:
compl_heroes = heroes.join(powers,how='inner')

In [12]:
compl_heroes.info()

<class 'pandas.core.frame.DataFrame'>
Index: 0 entries
Columns: 177 entries, Gender to Omniscient
dtypes: bool(167), float64(2), object(8)
memory usage: 0.0+ bytes

In the cell below, subset male and female heroes into different dataframes.  Create a scatterplot of the height and weight of each hero, with weight as the y-axis.  Plot both the male and female heroes subset into each dataframe, and make the color for each point in the scatterplot correspond to the gender of the superhero.

In [13]:
female = compl_heroes[compl_heroes['Gender']=='Female']
male = compl_heroes[compl_heroes['Gender']=='Male']

In [14]:
myplot = female.plot(x='Height',y='Weight',kind='scatter',color='red')
plt.title('Female Superheroes')
male.plot(x='Height',y='Weight',kind='scatter',color='blue')
plt.title('Male Superheroes')
# female.plot(x='Height',y='Weight',kind='scatter')
#???? I am not sure how to combine the plots together

ValueError: scatter requires x column to be numeric

## Some Initial Investigation

Next, slice the DataFrame as needed and visualize the distribution of heights and weights by gender.  You should have 4 total plots.  

In the cell below:

* Slice the DataFrame into separate DataFrames by gender
* Complete the `show_distplot` function.  This helper function should take in a DataFrame, a string containing the gender we want to visualize, and and the column name we want to visualize by gender. The function should display a distplot visualization from seaborn of the column/gender combination.  

Hint: Don't forget to check the [seaborn documentation for distplot](https://seaborn.pydata.org/generated/seaborn.distplot.html) if you have questions about how to use it correctly!

In [15]:
import seaborn as sns

def show_distplot(dataframe, gender, column):
    plt.plot()
    dataframe[column].hist()
    plt.title("Distribution of {} for {} heroes".format(column, gender))
    plt.xlabel(column)
    plt.ylabel("Probability Density")
    plt.show()

In [ ]:
# Male Height
show_distplot(male,'Male','Height')
print('Mean male height: '+str(male['Height'].mean()))
print('Median male height: '+str(male['Height'].median()))

In [ ]:
# Male Weight
show_distplot(male,'Male','Weight')
print('Mean male weight: '+str(male['Weight'].mean()))
print('Median male weight: '+str(male['Weight'].median()))

In [ ]:
# Female Height
show_distplot(female,'Female','Height')
print('Mean female height: '+str(female['Height'].mean()))
print('Median female height: '+str(female['Height'].median()))

In [ ]:
# Female Weight
show_distplot(female,'Female','Weight')
print('Mean female weight: '+str(female['Weight'].mean()))
print('Median female weight: '+str(female['Weight'].median()))

Discuss your findings from the plots above, with respect to the distibution of height and weight by gender.  Your explanation should include discussion of any relevant summary statistics, including mean, median, mode, and the overall shape of each distribution.  

Wite your answer below this line:
______________________________________________________________________________________________________________________

All median values are more indicative as the data set includes significant outliers/placeholders I noticed during initial exploration.
Most male superheroes are circa 15 cm taller and 24 kg heavier than females.

### Sample Question: Most Common Powers

The rest of this notebook will be left to you to investigate the dataset by formulating your own questions, and then seeking answers using pandas and numpy.  Every answer should include some sort of visualization, when appropriate. Before moving on to formulating your own questions, use the dataset to answer the following questions about superhero powers:

* What are the 5 most common powers overall?
* What are the 5 most common powers in the Marvel Universe?
* What are the 5 most common powers in the DC Universe?

In [ ]:
powers.describe()
#???

In [ ]:
powers.info()

Analyze the results you found above to answer the following question:

How do the top 5 powers in the Marvel and DC universes compare?  Are they similar, or are there significant differences? How do they compare to the overall trends in the entire Superheroes dataset?

Wite your answer below this line:
____________________________________________________________________________________________________________________________


### Your Own Investigation

For the remainder of this lab, you'll be focusing on coming up with and answering your own question, just like we did above.  Your question should not be overly simple, and should require both descriptive statistics and data visualization to answer.  In case you're unsure of what questions to ask, some sample questions have been provided below.

Pick one of the following questions to investigate and answer, or come up with one of your own!

* Which powers have the highest chance of co-occuring in a hero (e.g. super strength and flight), and does this differ by gender?
* Is there a relationship between a hero's height and weight and their powerset?
* What is the distribution of skin colors amongst alien heroes?

Explain your question below this line:
____________________________________________________________________________________________________________________________



Some sample cells have been provided to give you room to work. If you need to create more cells, you can do this easily by:

1. Highlighting a cell and then pressing `esc` to enter command mode.
1. Pressing `b` to add a cell below the currently highlighted cell, or `a` to add one above it.  

Be sure to include thoughtful, well-labeled visualizations to back up your analysis!

In [13]:
aliens = heroes.loc[heroes['Race']!='Human'] #this is a dataframe with non-human superheroes

In [19]:
aliens['Skin color'].value_counts()
# aliens.plot('Skin color',kind='bar')

-                 453
green              19
blue                8
red                 7
silver              5
white               5
gold                3
grey                3
pink                2
purple              2
yellow              2
red / black         1
orange / white      1
blue-white          1
orange              1
gray                1
black               1
Name: Skin color, dtype: int64

## Summary

In this lab, we demonstrated our mastery of:
* Using all of our Pandas knowledge to date to clean the dataset and deal with null values
* Using Queries and aggregations to group the data into interesting subsets as needed
* Using descriptive statistics and data visualization to find answers to questions we may have about the data